@tencent/

package-lock.json

docs/.vuepress/dist
temp
coverage
.DS_Store
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
lerna-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
